In [1]:
DATA_FILE_NAME = 'data/05-03-2022_votes_per_user.csv'

In [2]:
from modules.retrieve_votes_data import Votes
import pandas as pd

votes_ = Votes(dataframe_path=DATA_FILE_NAME)

In [3]:
group_votes = votes_.votes_per_user[['vote_id','comment_id']].groupby(['comment_id']).count()
comments_w_4_votes = list(group_votes[group_votes['vote_id'] == 4].index)
female_votes = votes_.votes_per_user[votes_.votes_per_user['gender']=='fem']
comments_w_2_female_votes = female_votes[['vote_id','comment_id']].groupby(['comment_id']).count()
comments_w_2_female_votes = list(comments_w_2_female_votes[comments_w_2_female_votes['vote_id'] == 2].index)

In [4]:
equally_voted_comments = [x for x in comments_w_4_votes if x in comments_w_2_female_votes]
len(equally_voted_comments)

234

In [5]:
try:
    dataframe = pd.read_csv('data/equally_labeled_comments.csv', sep=';')
    dataframe = dataframe.loc[:, ~dataframe.columns.str.contains('^Unnamed')]
    equally_voted_votes = pd.read_csv('data/equally_votes_per_user.csv', sep=';')
    equally_voted_votes = female_votes.loc[:, ~dataframe.columns.str.contains('^Unnamed')]
    print('> Reading from csv...')
except:
    equally_voted_votes = votes_.votes_per_user[votes_.votes_per_user.vote_id.isin(equally_voted_comments)]
    equally_voted_votes.to_csv('data/equally_votes_per_user.csv', sep=';') 
    dataframe = pd.read_csv('data/05-03-2022_labeled_comments.csv', sep=';');
    for index,element in dataframe.iterrows():
        votes = female_votes[female_votes['comment_id']==element.comment_id]
        vote_mean = votes.vote.mean()
        vote_quantity = votes.comment_id.count()
        dataframe.loc[dataframe.comment_id == element.comment_id, 'avg'] = vote_mean
        dataframe.loc[dataframe.comment_id == element.comment_id, 'votes'] = vote_quantity
    dataframe.to_csv('data/equally_labeled_comments.csv', sep=';')

In [7]:
equally_voted_votes = Votes(dataframe_path='data/equally_votes_per_user.csv', agreement=False)

In [17]:
equally_voted_votes.votes_per_user[equally_voted_votes.votes_per_user['comment_id']==1331]

,Unnamed: 0,vote_id,comment_id,user_id,gender,age,content,vote,label
0,43,2558,1331,81,fem,32.0,"Eu não tenho problemas, eu tenho soluções.",1,0.333333

In [13]:
COMMENT_VOTE = {
    'comment_id': [],
    'user_A': [],
    'user_B': [],
    'user_C': [],
    'user_D': [],
}
keys = list(COMMENT_VOTE.keys())
keys = keys[:4+1]
comment_vote = {}
for key in keys:
    comment_vote[key] = []

count_votes = {}

In [15]:
equally_voted_votes.votes_per_user.groupby(['comment_id']).agg(['count'])

           Unnamed: 0 vote_id user_id gender   age content  vote label
                count   count   count  count count   count count count
comment_id
18                  1       1       1      1     1       1     1     1
35                  1       1       1      1     1       1     1     1
44                  1       1       1      1     1       1     1     1
45                  1       1       1      1     1       1     1     1
64                  1       1       1      1     1       1     1     1
...               ...     ...     ...    ...   ...     ...   ...   ...
3208                1       1       1      1     1       1     1     1
3214                1       1       1      1     1       1     1     1
3265                1       1       1      1     1       1     1     1
3271                1       1       1      1     1       1     1     1
3279                1       1       1      1     1       1     1     1

[226 rows x 8 columns]

In [14]:
comment_vote

{'comment_id': [], 'user_A': [], 'user_B': [], 'user_C': [], 'user_D': []}

In [ ]:
def agreement(votes_df):

In [ ]:
try:
    dataframe = pd.read_csv('data/female_labeled_comments.csv', sep=';')
    dataframe = dataframe.loc[:, ~dataframe.columns.str.contains('^Unnamed')]
    female_votes = pd.read_csv('data/female_votes_per_user.csv', sep=';')
    female_votes = female_votes.loc[:, ~dataframe.columns.str.contains('^Unnamed')]
    print('> Reading from csv...')
except:
    female_votes = votes_.votes_per_user[votes_.votes_per_user['gender']=='fem']
    female_votes.to_csv('data/female_votes_per_user.csv', sep=';') 
    dataframe = pd.read_csv('data/05-03-2022_labeled_comments.csv', sep=';');
    for index,element in dataframe.iterrows():
        votes = female_votes[female_votes['comment_id']==element.comment_id]
        vote_mean = votes.vote.mean()
        vote_quantity = votes.comment_id.count()
        dataframe.loc[dataframe.comment_id == element.comment_id, 'avg'] = vote_mean
        dataframe.loc[dataframe.comment_id == element.comment_id, 'votes'] = vote_quantity
    dataframe.to_csv('data/female_labeled_comments.csv', sep=';')

In [ ]:
int(e.comment_id)

In [ ]:
diff = {}
for index,element in dataframe.iterrows():
    e = df[df.comment_id == element.comment_id]
    if float(e.avg) != element.avg:
        diff[int(e.comment_id)] = {'original': float(e.avg), 'female': float(element.avg)}

In [ ]:
len(diff.keys())

In [ ]:
diff

In [ ]:
female_vote_frequency = {}
comments_vote_frequency = {}

for index,element in female_votes.iterrows():
    if element.comment_id not in comments_vote_frequency.keys():
        comments_vote_frequency[element.comment_id] = 1
    else:
        comments_vote_frequency[element.comment_id] += 1

for comment in comments_vote_frequency.keys():
    if comments_vote_frequency[comment] not in female_vote_frequency.keys():
        female_vote_frequency[comments_vote_frequency[comment]] = 1
    else:
        female_vote_frequency[comments_vote_frequency[comment]] += 1

In [ ]:
def find_by_key(mydict, key):
    return list(mydict.keys())[list(mydict.values()).index(key)]

In [ ]:
find_by_key(comments_vote_frequency, 7)

In [ ]:
female_vote_frequency

In [ ]:
female_votes_ = Votes(dataframe_path='data/female_votes_per_user.csv')

In [ ]:
female_votes_.agreement

In [ ]:
from modules.read_dataframe import Comments

comments = Comments(dataframe_path='data/female_labeled_comments.csv')