In [1]:
import pandas as pd
import numpy as np
from modules.database_connector import Database

database = Database()
conn = database.get_connection()

Connected to database: [ec2-54-84-35-171.compute-1.amazonaws.com] @ 0 seconds

In [2]:
from modules.read_dataframe import Comments

In [3]:
comments = Comments()

...
---

In [4]:
comments.not_sexist_words

              word  sexist-freq  not-sexist-freq  undefined-freq          diff
2729            Um     0.000609         0.000609        0.000703 -5.062804e-07
2472         caras     0.000325         0.000328        0.000586 -3.395505e-06
2519  simplesmente     0.000325         0.000328        0.000937 -3.395505e-06
2489         feito     0.000325         0.000328        0.000469 -3.395505e-06
2508        passar     0.000325         0.000328        0.000351 -3.395505e-06
...            ...          ...              ...             ...           ...
2915           sua     0.001543         0.003188        0.001991 -1.645289e-03
2872        Brasil     0.001096         0.002813        0.001640 -1.716804e-03
3006           que     0.044495         0.046601        0.056109 -2.106066e-03
3004           não     0.021923         0.024332        0.029167 -2.409225e-03
2982           ser     0.005805         0.008533        0.005154 -2.727127e-03

[1869 rows x 5 columns]

####

In [8]:
comments.dataframe[comments.dataframe.columns[100:]]

,0,0,1,1,2,2,3,3,4,4,...,97,98,98,99,99,likes,dislikes,char-qty,word-qty,sexist
708,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,7.0,0.0,108,20,1
1141,0.0,0.000000,0.0,0.0,1.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,5.0,0.0,56,9,0
1226,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0,...,0.000000,0.0,0.0,0.0,0.0,2.0,4.0,64,14,1
100,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.185695,0.0,0.0,0.0,0.0,5.0,0.0,384,66,0
990,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,9.0,2.0,102,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,6.0,0.0,234,44,1
257,0.0,0.000000,0.0,0.0,0.0,0.196116,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,2.0,0.0,337,58,0
982,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,1.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,144,28,1
78,0.0,0.000000,0.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,2.0,0.0,43,8,1
636,0.0,0.707107,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,5.0,2.0,55,12,0

In [15]:
comments.dataframe.columns[100:200]

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='object')