In [3]:
DATA_FILE_NAME = 'data/05-03-2022_votes_per_user.csv'

In [4]:
from modules.retrieve_votes_data import Votes

votes = Votes(dataframe_path=DATA_FILE_NAME)

In [6]:
votes.agreement

{9: {'vote_qty': 9, 'comment_qty': 1, 'kappa': 0.0},
 7: {'vote_qty': 7, 'comment_qty': 12, 'kappa': -0.07692307692307697},
 6: {'vote_qty': 6, 'comment_qty': 16, 'kappa': -0.0813093980992607},
 5: {'vote_qty': 5, 'comment_qty': 199, 'kappa': 0.07008403190982523},
 4: {'vote_qty': 4, 'comment_qty': 809, 'kappa': 0.4418747850513095},
 3: {'vote_qty': 3, 'comment_qty': 2533, 'kappa': 0.38938563251999264},
 2: {'vote_qty': 2, 'comment_qty': 18, 'kappa': 0.7777777777777777}}

In [10]:
votes.votes_per_user.groupby(['vote_id']).mean()

         comment_id  user_id   age  vote     label
vote_id
1            3256.0      1.0  24.0   0.0  0.333333
2            2770.0     53.0  23.0   0.0  0.333333
3              97.0      1.0  24.0   0.0  0.400000
4            2752.0      1.0  24.0   1.0  0.750000
5            1054.0      1.0  24.0   0.0  0.250000
...             ...      ...   ...   ...       ...
12791        1034.0    579.0  22.0   0.0  0.500000
12792        2246.0    579.0  22.0   0.0  0.250000
12793        3665.0    579.0  22.0   0.0  0.000000
12794        3712.0    579.0  22.0   0.0  0.250000
12795        1775.0    579.0  22.0   1.0  0.500000

[12055 rows x 5 columns]

In [14]:
import pandas as pd
import numpy as np
from modules.database_connector import Database
print('-> Configuring database...')
database = Database()
conn = database.get_connection()
print('-> Database setup is done!')

-> Configuring database...
Connected to database: [ec2-54-84-35-171.compute-1.amazonaws.com] @ 0 seconds
-> Database setup is done!

In [21]:
x = pd.read_sql_query('select count(qtd), qtd from (select count(vote_id) as qtd from votes group by user_id) as u group by qtd;', conn)
x = x.loc[:, ~x.columns.str.contains('^Unnamed')]
print('Média de votos: ', np.mean(list(x['qtd'])))
print('Mínimo de votos: ', np.min(list(x['qtd'])))
print('Máximo de votos: ', np.max(list(x['qtd'])))
print('Mediana de votos: ', np.median(list(x['qtd'])))

Média de votos:  68.7560975609756
Mínimo de votos:  1
Máximo de votos:  1043
Mediana de votos:  42.0