In [1]:
import pandas as pd
import numpy as np
from modules.database_connector import Database

database = Database()
conn = database.get_connection()

Connected to database: [ec2-54-84-35-171.compute-1.amazonaws.com] @ 0 seconds

In [2]:
from modules.read_dataframe import Comments

In [3]:
comments = Comments()

...
---

In [4]:
comments.not_sexist_bigrams.head(20)

               word  sexist-freq  not-sexist-freq  undefined-freq      diff
2794     ser humano     0.000708         0.003657        0.001017 -0.002949
3007        que não     0.008212         0.010495        0.019329 -0.002283
2586         de sua     0.000566         0.002067        0.000000 -0.001501
2500       sabe que     0.000425         0.001749        0.000509 -0.001324
302         caso de     0.000142         0.001431        0.000509 -0.001289
2933     as pessoas     0.001416         0.002703        0.001017 -0.001287
2886       que você     0.000991         0.002226        0.001017 -0.001235
2594      do Brasil     0.000566         0.001749        0.001526 -0.001183
2525     todo mundo     0.000425         0.001590        0.001017 -0.001165
2170    que ninguém     0.000283         0.001431        0.000000 -0.001148
2225        só para     0.000283         0.001431        0.000000 -0.001148
885     maioria dos     0.000142         0.001272        0.001526 -0.001130
75        Jout Jout     0.000142         0.001272        0.000509 -0.001130
1405  redes sociais     0.000142         0.001272        0.000509 -0.001130
2969         de ser     0.002124         0.003180        0.003052 -0.001056
2994         de uma     0.003398         0.004452        0.006612 -0.001054
2299       Maria da     0.000425         0.001431        0.002035 -0.001006
960   muitos homens     0.000142         0.001113        0.000509 -0.000971
1342         que já     0.000142         0.001113        0.003561 -0.000971
1202       pelo que     0.000142         0.001113        0.001017 -0.000971

####

In [5]:
comments.dataframe[comments.dataframe.columns[100:]]

,0,0,1,1,2,2,3,3,4,4,...,97,98,98,99,99,likes,dislikes,char-qty,word-qty,sexist
1093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,54.0,10.0,55,5,1
948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,42.0,12.0,233,43,0
121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45,9,0
980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,86,16,0
603,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,107.0,29.0,78,15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,6.0,0.0,149,23,1
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,36.0,27.0,125,23,1
340,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,957,164,1
1250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,287,44,0
167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,18.0,2.0,62,10,0

In [6]:
comments.dataframe.columns[100:200]

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
       90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
      dtype='object')